body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 10px;
    text-align: center;
    color: black;
}

#logo {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

button {

    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    width: 150px;

}

.container {
    text-align: center;
}

footer {

    background-color: #333;
    color: white;
    text-align: left;
    padding: 5px;
    position: fixed; /* Fixa o rodapé na parte inferior da tela */
    width: 100%;
    bottom: 0;
}

.forgot-password {
    margin-top: 10px;
    font-size: 14px;
}

.forgot-password a {
    color: #008CBA;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}